<h1>Listing apis</h1>

<table>
  <tr>
    <th>Controller</th>
    <th>Method</th>
    <th>Url</th>
    <th>Description</th>
    <th>Response</th>
    <th>Jquery</th>
  </tr>

<% @apis.each do |api| %>
  <tr>
    <td><%=h api.controller %></td>
    <td><%=h api.method %></td>
    <td><%=h api.url %></td>
    <td><%=h api.description %></td>
    <td><%=h api.response %></td>
    <td><%=h api.jquery %></td>
    <td><%= link_to 'Show', api %></td>
    <td><%= link_to 'Edit', edit_api_path(api) %></td>
    <td><%= link_to 'Destroy', api, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New api', new_api_path %>