<div class="heading"><%=@api.url%></div>
    <p><%=@api.description%></p>
    <div class="heading">Call</div>
    <div class="code">
        <%=@api.url%>
    </div>
    <div class="heading">Parameters</div>
    <ul>
        <li>
            <b>format</b><br/>
            Specified the response type can take the value <b>xml</b> or <b>html</b>
        </li>
        <%@parameters.each do |p|%>
        <li>
            <b><%=@parameters.name%></b><br/>
            <p><%=@parameters.description%></p>
        </li>
        <%end%>
    </ul>

    <div class="heading">Response</div>
    <div class="code"><%=simple_format(@api.response).gsub("  ","&nbsp;")%></div>

    <div class="heading">Example Response</div>
    <div class="code"><%=simple_format(@api.exampleresponse).gsub("  ","&nbsp;")%></div>

	
    <div class="heading">Example jquery code</div>
        <p>
        This simple example of an Ajax call invoke this Restful API. It is demonstrated below also
        </p>
        <div class="js_code">
            <%=simple_format(@api.jquery).gsub("  ","&nbsp;")%>
            <br/>
        </div>        
    </div>
</div>



