<div class="heading">
  <%=@api.apiname%><br/>
  <%=@api.url%>
</div>
    <p><%=@api.description%></p>
    <div class="heading">Call</div>
    <div class="code">
        <%=@api.url%>
    </div>
    <div class="heading">Parameters</div>
    <ul>
        <%@parameters.each do |p|%>
        <li>
            <b><%=p.name%></b><br/>
            <%=p.description%><br/>
        </li>
        <%end%>
    </ul>

    <div class="heading">Response</div>
    <div class="code"><%=simple_format(@api.response).gsub("  ","&nbsp;")%></div>

    <div class="heading">Example Response</div>
    <div class="code"><%=simple_format(@api.exampleresponse).gsub("  ","&nbsp;")%></div>

	
    <div class="heading">Example jquery code</div>
        <p>
        This simple example of an Ajax call invoke this Restful API. It is demonstrated below also
        </p>
        <div class="js_code">
            <%=  h(@api.jquery).gsub(/\n/, "<br/>").gsub(/\t/,"&nbsp;") %>
            <br/>
        </div>        
    </div>
</div>



