<div class="heading">codex.yodel.co.uk/products</div> <!-- Retrieve the path -->
 <%
   @api = Api.find_by_controller_and_method(controller_name, params[:action])
 %>

    <p>
        <%=@api.description%>
    </p>

    <div class="heading">Call</div>
    <div class="code">
        <%=@api.url %>
    </div>

    <div class="heading">Parameters</div>
    <ul>
        <li>
            <b>format</b><br/>
            Specified the response type can take the value <b>xml</b> or <b>html</b>
        </li>
    </ul>

    <div class="heading">Response</div>
    <div class="code"><%=@api.response%></div>
	
    <div class="heading">Example jquery code</div>
        <p>
        This simple example of an Ajax call invoke this Restful API. It is demonstrated below also
        </p>
        <div class="js_code">
            <%=@api.jquery.gsub(/\n/, '<br/>')%>
            <br/>
        </div>
        <div id="try_me" class="button">try me</div> 
        <div id="result" class="js_code">
            results
        </div>
        <%=javascript_tag(@api.jquery)%>
    </div>
</div>




