<h1>New account</h1>

<% form_for :account, @account, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

